# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\spider_code\irobotbox\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
